@model LearningMVC.Models.Dept

@{
    ViewData["Title"] = "Create";
}

<h1>Create new Department</h1>

<h4>Dept</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"> Dept Name </label>
                <input asp-for="DeptName" class="form-control" />
                <span asp-validation-for="DeptName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptDescription" class="control-label"></label>
                <input asp-for="DeptDescription" class="form-control" />
                <span asp-validation-for="DeptDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptStatus" class="control-label"></label>
                <input asp-for="DeptStatus" class="form-control" />
                <span asp-validation-for="DeptStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptLocation" class="control-label"></label>
                <input asp-for="DeptLocation" class="form-control" />
                <span asp-validation-for="DeptLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
