
*.vsidx
DependencyInjectionCoreApp/.vs/DependencyInjectionCoreApp/DesignTimeBuild/.dtbcache.v2
DependencyInjectionCoreApp/.vs/DependencyInjectionCoreApp/v17/.futdcache.v2
DependencyInjectionCoreApp/bin/Debug/net7.0/DependencyInjectionCoreApp.dll
DependencyInjectionCoreApp/.vs/DependencyInjectionCoreApp/v17/DocumentLayout.json
DependencyInjectionCoreApp/bin/Debug/net7.0/DependencyInjectionCoreApp.dll
DependencyInjectionCoreApp/.vs/DependencyInjectionCoreApp/v17/DocumentLayout.json
