
@{
    ViewData["Title"] = "GetCountryDetails";
}

<h1>Country Details</h1>

<div>

    <label>Country Name : @TempData["CountryName"] </label>

    <label>Country Code : @TempData["CountryCode"] </label>
</div>

