<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/SiteMenu.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>

    <div class="container">
        <nav style="margin-top:15px" class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <a style="margin-left:5px" class="navbar-brand" asp-controller="home" asp-action="index">
                    <img src="~/images/SiteLogo.PNG" width="50" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="home" asp-action="index">List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="home" asp-action="create">Create</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-controller="home" asp-action="about">About</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-controller="home" asp-action="contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            @RenderBody()
        </div>
    </div>

</body>
</html>