@{
    ViewData["Title"] = "Home Page";
    //  Layout = "_LayoutOfAdmin"; specific to current view
    var userRole = TempData["UserRole"];
    if (userRole == "Admin")
    {
        //  Layout = "_LayoutOfAdmin";
    }
    else
    {
        //  Layout = "_Layout";
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{

    <script src="~/js/CustomIndex.js"></script>
}