@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button type="button" class="btn btn-danger">Danger</button>
<button type="button" style="color:white;background-color: #bb2d3b;
    border-color: #b02a37;">
    Danger
</button>

<button type="button" class="btn btn-success">Submit</button>
