<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Product Store</h5>
                <p>High-quality products at affordable prices. Shop with confidence!</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#!" class="text-dark">About</a></li>
                    <li><a href="#!" class="text-dark">Products</a></li>
                    <li><a href="#!" class="text-dark">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#!" class="text-dark">Facebook</a></li>
                    <li><a href="#!" class="text-dark">Twitter</a></li>
                    <li><a href="#!" class="text-dark">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3 bg-light">
        &copy; 2024 Product Store. All Rights Reserved.
    </div>
</footer>