@model IEnumerable<Product>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="@product.ImageUrl" alt="@product.ProductName">
                <div class="card-body">
                    <h5 class="card-title">@product.ProductName </h5>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text"><strong>Price: $@product.Price</strong></p>
                    <p class="card-text">
                        @if (product.InStock)
                        {
                            <span class="badge badge-success">In Stock</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">Out of Stock</span>
                        }
                    </p>
                </div>
            </div>
        </div>
    }
</div>