@model DifferentTypesOfActionResultsInAspNetCore.Models.Product;


<div id="productInfoId" class="text-center">

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {


        $.ajax({
            type: "GET",
            url: "/Demo/GetProductDataAjaxHeaderCheckWithInTheMethod",
            success: function (data) {
                $("#productInfoId").html(data);
            },error: function (error){
                alert(error);
            }
        });



    });

</script>