@{
    ViewData["Title"] = "Unauthorized Access";
}

<h1>Oops! You’re not authorized to view this page.</h1>
<p>It seems you don't have the necessary permissions to access this content.</p>
<p>
    <a href="/Account/Login">Login</a> or go back to the <a href="/">home page</a>.
</p>
