<h5>In this page we are reading the cookies info from another method</h5>


<div>

    <label>User Id</label> <b> @TempData["TempUserId"] </b> <br />
    <label>User Name</label> <b> @TempData["TempUserName"]  </b>

</div>