@model GeoLocation


<h1>Details for GeoCodeId : @Model.GeoCodeId </h1>
<div>
<h3> GeoCodeId related details :</h3>

<label>Latitude : <span> @Model.Latitude </span>  </label>
<label>Longitude : <span> @Model.Longitude </span>  </label>

</div>