@model AddingBootstrapInASPNETCore.Models.Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>

    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">This page provides the info about the Product</h4>
    
    </div>
    <br />
    <br />

    <br />

    <br />


    <div class="container  justify-content-center" style="display: flex;">

        <div class="card">
        <div class="card-header text-center ">
            <h4 class="alert-heading">@Model.Name</h4>
            @Model.Description
        </div>
        <div class="card-body text-center">
        <h3>Product Category Name : @Model.CategoryName </h3>
                <h3>Is In Stock : @Model.IsAvailable </h3>

        </div>
   

    <div class="card-footer text-center">
        <a href="#" class="btn btn-primary">
            Back
        </a>
        <a href="#" class="btn btn-warning">
            Edit
        </a>

        <a href="#" class="btn btn-danger">
            Delete
        </a>

    </div>
        </div>
    </div>
</div>