@model List<TypesOfViewsInASPNETCore.Models.Product>

<table>

    <thead>

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Desc</th>
            <th>Stock Available</th>
            <th>Rating</th>
        </tr>
    </thead>

    <tbody>

        @*  ******************************** Partial & PartialAsync  ************************* *@

        @foreach(var product in Model){

            @* @Html.Partial("_ProductDetails", product) *@

            @await Html.PartialAsync("_ProductDetails", product)

            
        }

@*

        ******************************** RenderPartial & RenderPartialAsync  ******************************

        @{
            Html.RenderPartial("_ProductDetails", Model);
        }

        @{
           await Html.RenderPartialAsync("_ProductDetails", Model);
        }
 *@


@*

        ******************************** partial tag like HTML syntax  ******************************

        <partial name="_ProductDetails" model="Model"></partial>
 *@

    </tbody>
</table>