@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

@model List<TypesOfViewsInASPNETCore.Models.Product>

<table>

    <thead>

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Desc</th>
            <th>Stock Available</th>
            <th>Rating</th>
        </tr>
    </thead>

    <tbody>

        @foreach(var prodcut in Model){

            @await Html.PartialAsync("_ProductDetails", prodcut)
        }

    </tbody>
</table>