@{
   ViewData["Title"] = "Update Password";
}

<h1>Update Password</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePassword" method="post" novalidate>
           

            <label> Email id :</label> <input type="email" name="emailId" class="form-control" />

          
            <br />
            <label> New Password :</label> <input type="password" name="newPassword" class="form-control" />

            <br />
                <button type="submit" class="btn btn-primary">Update</button>
        
        </form>
        </div>
        </div>