@model int

@{

    ViewBag.Title = "404 error";
}

<div class="alert alert-danger mt-1 md-1">

    <h5> 404 Not found error</h5>
    <br />
    <h4>
        Geolocation Id ( @Model ) is not exists
    </h4>
    <a href="/home/index">Goto Homepage</a>
</div>